#container {
    max-width: 330px;
    margin: 0 auto;
}

.grid-piece {
    background-color: blue;
    border: 2px solid red;
    width: 100px;
    height: 100px;
    float: left;
}

#picture-gallery {
    width: 90%;
    margin: 10px auto 0 auto;
    clear: left;
}

.pic {
    max-height: 300px;
    box-shadow: 10px 10px grey;
    margin: 10px;
}

