body {
    background-color: purple;
}

h1 {
    color: green;
    text-align: center;
}

#story1 {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    align-items: center;
    margin-bottom: 30px;
}

#story1 p {
    width: 50%;
}

#story1 img {
    height: 300px;
    width: auto;
}

#row2 {
    display: flex;
    width: 100%; 
    justify-content: space-between;
}

#row2 img {
    max-width: 200px;
    height: auto;
}

#row2 p {
    width: 25%;
}
