body {
  background-color: rgb(116, 112, 112);
  font-size: 1.2em;
  font-family: Creepster, "Times New Roman";
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  color:black;
  background-color: rgb(206, 84, 84);
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline;
  float: right;
}

header img, #invisible img {
  float: left;
  padding-right: 50px;
}

header iframe, #invisible iframe {
  float: right;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

#invisible {
  width: 100%;
  visibility: hidden;
}

h3 {
  color: rgb(15, 52, 109);
  text-align: center;
  font-weight: 900;
  font-size: 2em;
}

#p1, #p3 {
  text-align: center;
  width: 80%;
  margin: 0 auto 0 auto;
}

.image-sequence {
  text-align: center;
  padding: 0px auto 10px auto;
}

.image-text-pair {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

#ending {
  display: flex;
  width: 100%;
  overflow: auto;
}

#ending p {
  width: 70%;
  text-align: center;
}

#ending img {
  margin: 0 auto 0 auto;
}